.heart {
  position: absolute;
  right: 0;
  bottom: 0.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
}

.heart__fill,
.heart__stroke {
  position: absolute;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 250ms;
}

.heart__fill {
  fill: #F24E1E;
}

.heart__stroke {
  stroke: #F24E1E;
  fill: none;
}

.heart:hover > .heart__fill,
*:hover > .heart > .heart__stroke {
  opacity: 1;
}