.heart {
  position: absolute;
  right: 0;
  bottom: 0.1875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  --color: #f24e1e;
}

.heart_clicked {
  --color: #ff3a00;
}

.heart__fill,
.heart__stroke {
  position: absolute;
  transition-property: opacity;
  transition-duration: 250ms;
}

.heart__fill {
  opacity: 0;
  fill: var(--color);
}

.heart__stroke {
  stroke: var(--color);
  fill: var(--color);
}

.heart:active > .heart__fill {
  opacity: 1;
}

@media screen and ((hover: hover) or (pointer: fine)) {
  .heart:hover > .heart__fill,
  *:hover > .heart > .heart__stroke {
    opacity: 1;
  }

  .heart__fill,
  .heart__stroke {
    opacity: 0;
  }
}
