.wrapper {
  --count-cats: 5;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--count-cats), 1fr);
  gap: 3rem;
  padding-top: 3rem;
}

@media screen and (max-width: 81.25rem) {
  .wrapper {
    --count-cats: 4;
  }
}

@media screen and (max-width: 70rem) {
  .wrapper {
    padding-top: 2rem;
    gap: 2rem;
  }
}

@media screen and (max-width: 62.5rem) {
  .wrapper {
    --count-cats: 3;
  }
}

@media screen and (max-width: 50rem) {
  .wrapper {
    gap: 1.5rem;
  }
}

@media screen and (max-width: 31.25rem) {
  .wrapper {
    --count-cats: 2;
  }
}

@media screen and (max-width: 25rem) {
  .wrapper {
    padding-top: 1rem;
    gap: 1rem;
  }
}